@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Playfair+Display&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Macondo&family=Playfair+Display&family=Poiret+One&family=Protest+Riot&family=Protest+Strike&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-font{
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-link{
  
  font-family: 'Poppins', sans-serif;

}

.sp-action-button:hover {
  background-color: white !important;
  color: black !important;
  
  }
.sp-action-button:active {
  background-color: white !important;
  color: black !important;
  
  }
.sp-action-button {

  color: white !important;
  
  }


  .hover-item {
    transition: 0.3s;
  }
  .hover-item:hover {
    transform: translate(0, -10px);
  }

  .button {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: black;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
  }
  .button-4 {
    transition: .3s;
  }
  .button-4:hover {
    color: white;
    background-color: black;
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
